* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	/* overflow: scroll; */
	color: #383838;
}
h2 {
	line-height: 28px;
}
li {
	display: list-item;
	/* text-align: -webkit-match-parent; */
}
.header {
	width: 100%;
	background: #003580;
	color: #fff;
}
nav {
	padding: 8px 16px;
	display: flex;
	align-items: center;
	max-width: 1140px;
	margin: 0 auto;
}
.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px 32px;
}
.header-left {
	display: flex;
}
.logo {
	max-width: 130px;
	min-width: 100px;
	cursor: pointer;
	display: flex;
	padding: 8px 16px 8px 0;
}
.header-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	vertical-align: middle;
}
.nav-icon {
	padding: 11px 11px 16px 11px;
}
.nav-icon:hover {
	background-color: #1F4E8F;
	border-radius: 2px;
}
.bi-question-circle,
.bi-bell,
.bi-chat {
	vertical-align: middle;
}
.bell-count {
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	display: inline-block;
	text-align: center;
	min-width: 18px;
	border-radius: 99px;
	vertical-align: top;
	background-color: #c00;
	color: #fff;
	transform: translate(-24px, -3px);
	position: absolute;
}
.nav-right {
	margin-left: 9px;
}
#navRegister {
	margin-left: 12px;
}
.register-btn {
	text-decoration: none;
	line-height: 14px;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px;
	border-radius: 2px;
}
.register-btn:hover {
	background-color: #1F4E8F;
}
.myaccount {
	text-decoration: none;
	padding-left: 8px;
  padding-right: 8px;
}
.myaccount-left {
	position: relative;
	width: 32px;
	height: 32px;
	border: 2px solid #febb02;
	background-color: #febb02;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.profile {
	width: 100%;
	height: 100%;
}
.myaccount-items {
	display: flex;
	line-height:20px;
	align-items: center;
}
.myaccount-right {
	display: grid;
	margin-left: 8px;
}
#navMyaccount {
	padding: 7px 10px;
	margin-right: -12px;
}
#navMyaccount:hover {
	background-color: #1F4E8F;
	border-radius: 2px;
}
.myaccount-info {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	color: #fff;
}
.myaccount-level {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #febb02;
}

/* 梨꾪똿 */
#myChatting {
	display: none;
}
.chatting-list {
	opacity: 1;
	display: block;
	background: rgba(153, 120, 120, 0.2);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 0;
	/* -webkit-tap-highlight-color: transparent; */
}
.chatting-list-panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	/* left: 0; */
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 0 0 50px rgb(0 0 0 / 20%);
	/* -webkit-font-smoothing: subpixel-antialiased;
	-webkit-tap-highlight-color: transparent; */
}
.chatting-list-panel-close {
	right: 460px;
	top: 70px;
	padding: 12px 29px 12px 11px;
	background: #0071c2;
	width: 62px;
	border-radius: 5px 0 0 5px;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	text-align: center;
	box-shadow: 0 0 14px #444;
	position: fixed;
	transform: translateX(0) translateZ(0);
	/* z-index: 2; */
	animation: sliding-panel-close-button-in .4s forwards;
	animation-delay: .3s;
}
.chatting-list-panel-close:hover{
	background-color: #013680;
}
.bi-x-lg {
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	line-height: 20px;
}
.chatting-list-panel-content {
	display: flex;
	width: 480px;
	padding: 0;
	bottom: 0;
	top: 0;
	box-shadow: 0 0 14px #444;
	overflow: auto;
	height: 100%;
	scroll-behavior: smooth;
	animation: sliding-panel-in 500ms;
	box-shadow: 0 0 50px rgb(0 0 0 / 20%);
	box-sizing: border-box;
}
.msg-list-header, .msg-header {
	display: flex;
	height: 55px;
	background-color: #003580;
	color: #fff;
	box-sizing: border-box;
	border-color: #fff;
	position: absolute;
	width: 480px;
	top: 0;
	left: 0;
}
.msg-list-header {
	z-index: 2; /* 2 遺��꽣 �븵�쑝濡� �삱�씪�샂 */
}
/* .msg-header {
	z-index: 4;
} */
.msg-list-header-title, .msg-header-title {
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
	text-align: center;
	width: 100%;
	align-self: center;
}
.msg-index-list {
	padding-top: 55px;
	box-sizing: border-box;
	z-index: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	scroll-behavior: smooth;
	/* -webkit-overflow-scrolling: touch; */
	background: #ededed;
}
.msg-index-list h2 {
	padding: 24px 16px 16px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
}
.msg-index-list p {
	padding: 0 16px 24px;
}
.msg-entry-points {
	padding: 0;
	margin: 0;
	overflow: auto;
	scroll-behavior: smooth;
}
.msg-entry-points li {
	list-style: none;
}
.msg-entry-point {
	background: #fff;
	border-bottom: 1px solid #ededed;
}
.msg-entry-point:hover {
	background-color: #f9f9f9;
}
.msg-entry-point-link {
	color: #707070;
	padding: 16px;
	display: block;
	text-decoration: none;
	font-weight: 400;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.msg-entry-point-image {
	float: left;
	margin-right: 8px;
	border-radius: 28px;
	background: rgba(0,0,0,.2);
	min-width: 56px;
	transition: opacity .25s ease;
	width: 56px;
	aspect-ratio: auto 56 / 56;
	height: 56px;
}
.msg-entry-point-thumbnail {
	padding-right: 50px;
}
.msg-entry-point-thumbnail:after {
	border-right: 2px solid #bdbdbd;
	right: 15px;
	transform: rotate(-45deg);
	content: "";
	background: none;
	border-bottom: 2px solid #bdbdbd;
	display: block;
	height: 8px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	transition: all .15s;
	width: 8px;
}
.msg-title {
	color: #383838;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	transition: opacity .25s ease;
	margin-top: 6px;
}
.msg-trip-dates {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #707070;
	transition: opacity .25s ease;
	word-break: break-word;
	margin-top: 8px;	
}
.msg-cancel-image {
	opacity: .65;
}
.msg-cancel {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5em;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	padding: 0 4px;
	vertical-align: middle;
	background-color: #fff;
	border-color: red;
	color: red;
	margin-top: 8px;
}
.msg-cancel-point {
	opacity: 1;
}

/* 梨꾪똿李� */
.chatting {
	position: absolute;
	bottom: 0;
	background: #fff;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.msg-app-header {
	height: 54px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	/* z-index: 50; */
}
.msg-header-left, .msg-header-right {
	cursor: pointer;
	color: #fff;
	padding: 8px 16px;
	border: none;
	margin: 0;
	outline: none;
	background: none;
	display: inline-block;
	text-decoration: none;
	transition: color .2s ease-out;
	box-sizing: border-box;
	border-radius: 2px;
	font-weight: 500;
	text-align: left;
	height: 100%;
	width: 110px;
	flex: 0 0 110px;
	max-width: 25%;
}
.fa-arrow-left {
	display: inline-block;
	fill: #fff;
	font-size: 22px;
	line-height: inherit;
	/* font-weight: 500; */
}
.msg-header-title {
	text-align: center;
	overflow: hidden;
	flex: 1 1;
	/* z-index: 50; */
}
.msg-header-title-heading {
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
}
.msg-header-title-caption {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
.msg-header-right {
	text-align: right;
	font-size: 14px;
	line-height: 15px;
}
.msg-app-content {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-top: 55px;
	/* z-index: 1; */
	display: flex;
	flex-direction: column;
}
.msg-messages-list {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.msg-messages-list-scrollview {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}
.msg-messages-container {
	overflow: hidden;
	flex: 0 0 auto;
}
.msg-separator {
	margin: 16px 0;
	text-align: center;
	color: #bdbdbd;
	font-size: small;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 0 48px;
}
.msg-separator-text {
	flex-grow: 1;
}
.presentation-message {
	margin-bottom: 16px;
	padding: 0 16px;
	margin: 0;
	max-width: none;
	border-bottom-width: 1px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-width: 1px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative;
	box-sizing: border-box;
	border-width: 0 1px;
	border-color: #ededed;
	margin-bottom: 16px;
}
.msg-footprint {
	color: #707070;
	text-align: center;
}
.presentation-message-right {
	margin-bottom: 16px;
	padding: 0;
	margin: 0;
	max-width: none;
	border-bottom-width: 1px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-width: 1px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative;
	box-sizing: border-box;
	border-width: 0 1px;
	border-color: #ededed;
	margin-bottom: 16px;
}
.msg-guest {
	text-align: right;
	margin-left: auto;
	margin-right: 16px;
	max-width: calc(100% - 96px);
	position: relative;
}
.msg-guest-inner {
	background-color: #383838;
	color: #fff;
	padding: 16px;
	border-radius: 10px;
	display: inline-block;
}
.msg-guest-inner:after {
	color: #383838;
	left: auto;
	right: -8px;
	position: absolute;
	top: 14px;
	content: "\25E3";
	width: 9px;
	font-size: 10px;
	display: block;
}
/* .msg-inner p {

} */
.msg-guest-status {
	opacity: 1;
	color: #707070;
	text-align: right;
	margin: 4px 20px 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2;
	transition: opacity .5s ease;
}
.msg-partner {
	text-align: left;
	margin-left: 16px;
	margin-right: auto;
	max-width: calc(100% - 96px);
	position: relative;
}
.msg-partner-inner {
	background-color: #EDEDED;
	color: #383838;
	padding: 16px;
	border-radius: 10px;
	display: inline-block;
}
.msg-partner-inner:after {
	color: #EDEDED;
	left: -8px;
	right: auto;
	position: absolute;
	top: 14px;
	content: "\25E2";
	width: 9px;
	font-size: 10px;
	display: block;
}
.msg-partner-status {
	opacity: 1;
	color: #707070;
	text-align: left;
	margin: 4px 20px 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2;
	transition: opacity .5s ease;
}
.msg-footer-wrap {
	display: flex;
	flex: 1 0 auto;
	align-items: flex-end;
	overflow: hidden;
}
.msg-footer-container {
	width: 100%;
	flex: 1 0 auto;
	transform: translateY(0);
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
	transform-origin: 50% 0;
	border-top: 1px solid #e6e6e6;
}
.msg-input-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: start;
	padding: 8px 0 8px 8px;
}
.msg-uploader {
	border-radius: 4px 0 0 4px;
	margin-right: -1px;
	/* transition: max-width .3s ease-in-out; */
	overflow: hidden;
	max-width: 50px;
	height: 36px;
	border: 1px solid #bdbdbd;
	flex-shrink: 0;
}
.uploader-button {
	cursor: pointer;
	position: relative;
	height: 100%;
	padding: 2px 16px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.uploader-file-input {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	visibility: hidden;
	display: block;
}
.bi-camera-fill {
	font-size: 18px;
	color: rgb(112, 112, 112);
}
.msg-text {
	flex-grow: 1;
	text-align: right;
}
.msg-text-input {
	padding: 8px 8px;
	margin: 0;
	outline: none;
	border: 1px solid #bdbdbd;
	border-radius: 0 4px 4px 0;
	width: 100%;
}
.msg-send {
	color: #707070;
	border-color: #707070;
	cursor: default;
	text-decoration: none;
	padding: 8px 16px;
	border: none;
	margin: 0;
	outline: none;
	background: none;
	font-size: inherit;
	line-height: inherit;
	display: inline-block;
	text-decoration: none;
	transition: color .2s ease-out;
	box-sizing: border-box;
	border-radius: 2px;
	font-weight: 500;
}

/* 移대뱶 */
.msg-help {
	display: none;
	/* z-index: -1; */
}
.msg-help-background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #707070;
	opacity: .3;
	/* z-index: 100; */
}
.msg-help-content {
	display: block;
	background: #fff;
	box-shadow: 0 0 8px rgb(0 0 0 / 20%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/* transition: height .3s ease-out; */
	/* overflow: hidden; */
	/* max-height: 90%; */
	/* z-index: 200; */
}
/* .help-menu {

} */
.help-header {
	height: 50px;
	background: #fff;
	/* z-index: 50; */
	position: relative;
	display: flex;
	align-items: center;
}
.help-header-left, .help-header-right {
	height: 100%;
	width: 110px;
	flex: 0 0 110px;
	max-width: 25%;
}
.help-header-title {
	text-align: center;
	overflow: hidden;
	flex: 1 1;
}
.help-header-right {
	top: -3px;
	padding: 8px 16px;
	border: none;
	margin: 0;
	outline: none;
	background: none;
	display: inline-block;
	text-decoration: none;
	text-align: right;
	font-size: 32px;
	line-height: 26px;
}
.help-x {
	color: #07c;
	font-size: 16px;
}
.help-content {
	padding: 8px;
}
.content-card {
	display: flex;
	margin: 0 6px;
}
.card-hotel-image {
	padding-right: 12px;
}
.card-hotel-image img {
	width: 72px;
	aspect-ratio: auto 72 / 72;
	height: 72px;
}
.card-hotel-description {
	flex: 1;
}
.hotel-name, .hotel-region {
	padding-bottom: 2px;
}
/* .hotel-dates {

} */
.content-button {
	padding: 12px;
	text-align: center;
}
.hotel-call, .booking-management {
	width: 100%;
	padding: 8px 16px;
	border: none;
	outline: none;
	background: none;
	color: #07c;
	display: inline-block;
	text-decoration: none;
	transition: color .2s ease-out;
	box-sizing: border-box;
	font-weight: 500;
	cursor: pointer;
}
.bi-telephone-fill, .bi-journal-bookmark-fill {
	position: inherit;
	margin-right: 2px;
	position: relative;
	top: 2px;
	cursor: pointer;
}
.header-dropdown-content {
	display: none;
	top: 75px;
	right: 226px;
	position: absolute;
	padding: 16px;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
	min-width: 200px;
	z-index: 1;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
}
.header-dropdown-menu-items {
	list-style-type: none;
	margin: -16px;
	padding: 4px 0;
}
/* .header-dropdown-menu-item {

} */
.header-dropdown-item {
	border: 0;
	margin: 0;
	cursor: pointer;
	padding: 12px 16px;
	white-space: nowrap;
	text-decoration: none;
	color: #262626;
	background-color: transparent;
	fill: #262626;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	outline: 0;
}
.header-dropdown-item:hover {
	background-color: #F0F0F0;
}
.header-dropdown-menu-icon {
	height: 20px;
	display: inline-block;
	margin-right: 12px;
	vertical-align: text-top;
}
.header-dropdown-menu-text {
	line-height: 24px;
	height: 24px;
}
/* �븣由� */
.notifications {
	display: none;
	position: absolute;
	opacity: 1;
	top: 79px;
	left: 829px;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
	background: #fff;
	animation: bui-popover-enter-top .15s cubic-bezier(.4,0,1,1) 0s 1;
	border-radius: 2px;
	width: 390px;
	max-height: 320px;
	/* overflow: auto; */
	flex-grow: 1;
}
.notification-link {
	color: #333;
	width: 100%;
	text-align: left;
	border-radius: 2px;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
}
.notification-container {
	display: flex;
	align-items: center;
	width: 100%;
	text-align: left;
	outline: 0;
	background: 0;
	border: 0;
	padding: 12px 16px;
	border-radius: 2px;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
}
.notification-container-start {
	margin-right: 12px;
	flex-shrink: 0;
	display: flex;
	height: 48px;
	width: 48px;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	position: relative;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: #494949;
	color: #fff;
	text-transform: uppercase;
}
.notification-icon {
	width: 24px;
	height: 24px;
}
.notification-container-main {
	flex-grow: 1;
	text-align: left;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.notification-container-main strong {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.popover {
	top: 0;
	left: 50%;
	right: auto;
	transform: translateX(-50%) translateY(-50%) rotate(-135deg);
	box-shadow: 2px 2px 1px 0 rgb(0 0 0 / 5%);
	width: 12px;
	height: 12px;
	position: absolute;
	background: inherit;
	overflow: hidden;
	/* z-index: -1; */
}