@charset "UTF-8";
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}
.header {
   height: 61px;
   width: 100%;
   background: #003580;
}
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-top {
   display: inline-block;
   font-size: 14px;
   vertical-align: middle;
   padding: 12px 0 12px 4px;
}
.logo {
   max-width: 250px;
   min-width: 100px;
   cursor: pointer;
}
.nav-links {
   align-items: center;
   margin: -8px 0 0 -8px;
}
/* .question {
   padding: 12px;
   padding: 7px 12px;
} */
.question a span {
   /* padding: 10px 10px 15px 10px; */
   padding: 18px 10px 10px 10px;
}
.question a span:hover {
   background-color: #1F4E8F;
   border-radius: 2px;
}
.bi-question-circle {
   color: #fff;
   font-size: 24px;
}
.register-btn {
   text-decoration: none;
   line-height: 14px;
   color: #fff;
   border: 1px solid #fff;
   padding: 8px;
   border-radius: 2px;
}
.register-btn:hover {
   background-color: #1F4E8F;
}
.signup-btn, .login-btn {
   text-decoration: none;
   line-height: 14px;
   color: #0071c2;
   background-color: #fff;
   border: 1px solid #0071c2;
   padding: 8px 16px;
   border-radius: 2px;
}
.signup-btn:hover, .login-btn:hover {
   background-color: #F0F7FB;
}

/* 로그인 */
.login {
  display: block; /* Hidden by default */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content */
.login-modal {
  margin: auto;
  /* padding: 20px; */
  width: 40%;
   border-radius: 14px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
   line-height: 0;
   margin: 27px 20px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-title {
   text-align: center;
   margin: 20px 54px;
   font-size: 16px;
   color: #222222;
}
.login-modal-content {
   padding: 50px 120px;
}
.login-modal-top {
   margin-top: 6px;
   margin-bottom: 18px;
   text-align: center;
}
.login-modal-top h2 {
   font-size: 22px;
}
.login-modal-center {
   margin: 22px 10px;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.login-modal-id, .login-modal-pw {
   display: flex;
   align-items: center;
   width: 100%;
}
.login-id, .login-pw {
   width: 100px;
   text-align: right;
}
.login-input-id, .login-input-pw {
   width: 100%;
   margin-left: 18px;
}
.login-input-id input, .login-input-pw input {
   width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
   border-radius: 6px;
}
.login-input-id input:focus, .login-input-pw input:focus {
  border: 2px solid #555;
}
.login-modal-button {
   text-align: center;
   margin: 16px 0;
}
.login-btn-real {
   background-color: #003580d7;
   border: none;
   color: white;
   padding: 16px 32px;
   text-align: center;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   width: 90%;
   border-radius: 5px;
   transition-duration: 0.2s;
}
.login-hr {
   margin-top: 20px;
}
.login-hr div {
   border: 0.5px solid #EBEBEB;
}