
.container {
	background-color: #fff;
	padding: 20px 0;
	width: 1090px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

/* container right */
.container-right {
	position: relative;
	background-color: rgb(255, 255, 255);
	width: 27%;
	height: 100%;
}
.container-right-top {
	margin-top: 111px;
	padding: 34px 24px;
	border: 1px solid rgb(228, 228, 228);
}


.bi-shield-lock, .bi-person-rolodex {
	font-size: 36px;
}
.update-question h2 {
	margin-top: 16px;
	margin-bottom: 16px;
}
.update-hr {
	margin-top: 34px;
	margin-bottom: 34px;
}
.update-hr div {
	border: 0.5px solid #EBEBEB;
}


/* container left */
.container-left {
	flex-grow: 1;
	width: 0;
	outline: none;
	margin: 12px 48px 12px 24px;
}
.settings-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.settings-title {
	display: flex;
	margin-top: 8px;
	margin-bottom: 16px;
	flex-direction: column;
	flex-grow: 1;
}
.title {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #262626;
}
.sub {
	margin: 0px;
	overflow-wrap: break-word;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.28571em;
	color: #484848;
}
.nav2 {
	margin: 0px;
	padding: 4px 2px 6px 2px;
}
ul {
	padding: 0px;
	margin: 0px;
}
.sub{
	display: flex;
    list-style: none;
    gap: 5px;
}
li {
	display: inline-block;
}
.bi-chevron-right {
	font-size: 12px;
	vertical-align: bottom;
}
.settings-avatar {
	padding: 4px 16px;
	border: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: middle;
	position: relative;
	background: transparent;
}
.avatar {
	position: relative;
	height: 64px;
	width: 64px;
	justify-content: center;
	background-color: #494949;
	border-radius: 50%;
}
.edit-icon {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
}
.bi-camera {
	font-size: 14px;
	color: #fff;
}
.bi {
	display: inline-flex;
	vertical-align: top;
	height: 100%;
	width: auto;
	font-size: 18px;
}
.settings-table {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	position: relative;
	white-space: nowrap;
}
.settings-row {
	padding: 16px;
	border-top: 1px solid #e6e6e6;
	color: #333;
	align-items: flex-start;
}
.settings-container {
	display: flex;
}
.container-label {
	min-width: 146px;
	align-self: center;
}
.container-label h2 {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.container-element {
	padding-left: 16px;
	flex-grow: 1;
	color: #6b6b6b;
	align-self: center;
}
.element {
	flex-direction: column;
	align-items: stretch;
	font-size: 14px;
	line-height: 20px;
}
.element-text {
	display: flex;
}
input[type=text], input[type=password], select {
	width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
	border-radius: 6px;
}
input[type=text]:focus, input[type=password]:focus, select:focus {
  border: 2px solid #555;
}
#phone1, #phone2, #phone3 {
	width: 24%;
	text-align: center;
}
.element-phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 5%;
}
.element-birth {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 5%;
}
#birth-year, #birth-month, #birth-day {
	width: 30%;
	text-align: center;
}
.modify-hr {
	border-top: 1px solid #e6e6e6;
}
.modify-button {
	margin: 38px;
}
.modal-delete-button  {
	margin: 42px 24px 24px 24px;
}
.modify-btn, .delete-btn-real {
	background-color: #003580d7; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
	width: 100%;
	border-radius: 5px;
	transition-duration: 0.2s;
}
.modify-btn:hover, .delete-btn-real:hover {
	background-color: #003580;
}
.delete-button {
	margin-top: 12px;
	text-align: right;
}
.delete-btn {
	background-color: #e7e7e7;
	border: none;
	padding: 8px;
	width: 100%;
	transition-duration: 0.2s;
}
.delete-btn:hover {
	background-color: #d3d2d2;
}




.delete-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.delete-modal-content, .delete-modal-title {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-title {
	margin: 2%;
	margin-bottom: 34px;
}
.modal-delete-reason {
	margin: 2%;
	display: flex;
	align-items: center;
}
.reason-title, .password-title {
	margin: 12px;
	width: 100px;
}
.delete-hr {
	margin-top: 24px;
	margin-bottom: 24px;
}
.delete-hr div {
	border: 0.5px solid #EBEBEB;
}
.modal-delete-password {
	margin: 2%;
	display: flex;
	align-items: center;
}
#delete-account, .input-password {
	width: 76%;
	margin-left: 6%;
	margin-right: 3%;
}
#deletePassword {
	width: 100%;
}
.input-password div {
	color: #484848;
}




@media screen and (max-width: 480px) {
  .container-right {
		display: none;
	}
	.container-label {
		min-width: 112px;
	}
	#birth-year, #birth-month, #birth-day {
		padding: 12px 10px;
	}
	#phone1, #phone2, #phone3 {
		padding: 12px 10px;
		width: 30%;
	}
	.logo {
		padding: 8px 1px;
	}
	.header-right {
		padding: 4px 7px;
	}
}