.question-answer {
	padding: 16px 8px 0;
}
.qna-card {
    margin: 30px 18%;
	display: flex;
	background-color: #fff;
	color: #262626;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	padding: 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.qna-icon {
	margin-right: 16px;	
}
.qna-text {
	flex-grow: 1;
	margin-right: 16px;
}
.qna-text h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 4px;
}
.qna-text div {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.make-question {
	margin-bottom: 16px;
	width: 90px;
	text-align: center;
	background-color: #fff;
	color: #0071c2;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	cursor: pointer;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: middle;
	position: relative;
	min-height: 36px;
	min-width: 36px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	border-radius: 2px;
	border: 1px solid #0071c2;
}
.make-question:hover {
	background-color: #D7E8FA;
}
.make-question:focus {
	outline: 0;
	box-shadow: 0 0 0 3px rgb(0 113 194 / 24%);
}

/* 문의하기 클릭 시 */
.qna-overlay {
	opacity: 1;
	display: none;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 0;
	text-align: -webkit-center;
}
.qna-modal {
	width: 576px;
	position: relative;
	border-radius: 2px;
	background: #fff;
	z-index: 100;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
	top: 21%;
}
.qna-modal-close {
	display: inline-block;
	position: absolute;
	height: 36px;
	width: 36px;
	top: 21px;
	right: 22px;
	margin-bottom: 0;
	padding: 0;
	text-decoration: none;
	color: #262626;
	opacity: .4;
	cursor: pointer;
	appearance: none;
	background: 0;
	border: 0;
	z-index: 5;
}
.qna-modal-close:hover {
	opacity: .8;
}
.qna-modal-close:focus {
	outline: 0;
	box-shadow: 0 0 0 3px rgb(0 113 194 / 24%);
}
.qna-modal-content {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.qna-modal-header {
	display: block;
	padding: 24px;
}
.qna-modal-header h3 {
	margin-top: 0;
	padding-top: 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	margin: 0 32px 8px 0;
	margin-bottom: 24px;
}
.qna-form {
	margin-bottom: 0;
	border: 0;
	padding: 0;
	margin: 0;
}
.qna-textarea {
	margin-right: 3%;
	width: 97%;
	cursor: text;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #333;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #bdbdbd;
	display: block;
	padding: 7px;
	appearance: none;
	text-align: left;
	transition: border-color .15s cubic-bezier(.4,0,.2,1);
	margin-bottom: 8px;
}
.qna-textarea:focus {
	outline: 0;
	box-shadow: 0 0 0 3px rgb(0 113 194 / 24%);
	border-color: #0071c2;
}
.question-count-down {
	color: #000;
}
.question-form-error {
	display: none;
	color: #c00;
}
.qna-modal-footer {
	display: block;
	padding: 0 24px 24px 24px;
}
.submit-question {
	width: 100%;
	text-align: center;
	display: inline-flex;
	border: 0;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	cursor: pointer;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: middle;
	position: relative;
	color: #fff;
	min-height: 36px;
	min-width: 36px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	border-radius: 2px;
	background: #0071c2;
}
.submit-question:hover {
	background-color: #00487a;
	border-color: #00487a;
}
.submit-question:focus {
	outline: 0;
	box-shadow: 0 0 0 3px rgb(0 113 194 / 24%);
}
.qna-text {
	margin-top: 16px;
}