.review-list {
	opacity: 1;
	display: none;
	background: rgba(0,0,0,0.2);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 0;
}
.review-list-panel {
	width: 900px;
	box-shadow: 0 0 14px #444;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 0 0 50px rgb(0 0 0 / 20%);
}
.review-list-panel-close {
	right: 883px;
	top: 40px;
	position: fixed;
	padding: 15px 30px 15px 10px;
	background: #0071c2;
	width: 20px;
	border-radius: 5px 0 0 5px;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	box-shadow: 0 0 14px #444;
	z-index: -1;
	animation-delay: .3s;
}
.review-list-panel-close:hover {
	background: #003580;
}
.review-close {
	cursor: pointer;
	text-align: center;
}
.review-list-panel-content {
	background: #fff; 
	padding: 15px 25px 0 25px;
	z-index: 100;
	right: 0;
	min-height: 100%;
	overflow: visible;
}
.review-list-container {
	margin-top: 17px;
	display: flex;
	flex-direction: column;
}
.review-list-page {
	margin-top: 24px;
}
.reviewlist-header {
	display: flex;
	justify-content: space-between;
}
.review-heading {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.review-array {
	float: right;
}
.review-array-label {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 36px;
	padding-bottom: 0;
	vertical-align: bottom;
}
.review-array-select {
	display: inline-block;
	width: fit-content;
	position: relative;
	font-size: 13px;
}
.review-sort {
	appearance: none;
	min-width: 64px;
	z-index: 100;
	transform: translateZ(0);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #333;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #bdbdbd;
	display: block;
	padding: 7px 32px 7px 7px;
	width: 100%;
	cursor: pointer;
	text-align: left;
	transition: border-color .15s cubic-bezier(.4,0,.2,1);
}
.review-sort:focus {
	outline: 0;
	box-shadow: 0 0 0 1px #0071c2;
}
.bui-input-select__icon {
	vertical-align: middle;
	max-width: 256px;
	max-height: 256px;
	overflow: hidden;
	width: 16px;
	height: 16px;
	fill: #262626;
	position: absolute;
	pointer-events: none;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);
}
.reviewlist {
	margin: 0 0 3em 0;
	color: #000;
	list-style: none;
	padding: 0;
}
.reviewlist-item {
	padding: 24px 0;
	border-bottom: solid 1px #ececec;
	font-size: 13px;
	width: 100%;
	vertical-align: top;
	margin: -24px -12px 0;
	display: flex;
	justify-content: flex-start;
}
.reviewlist-left {
	padding: 24px 12px 0;
	flex-basis: 25%;
	width: 25%;
	max-width: 25%;
}
.review-guest {
	width: 100%;
	display: inline-block;
	padding-bottom: 16px;
	vertical-align: top;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.review-avatar {
	min-width: 32px;
	position: relative;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #494949;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.review-avatar img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
}
.review-avatar-text {
	display: flex;
	flex-direction: column;
	margin-left: 8px;
}
.avatar-title {
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.avatar-subtitle {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.review-room-info,
.review-booking-date,
.review-guest-info {
	color: #6b6b6b;
	width: 100%;
	display: flex;
	padding-bottom: 16px;
	vertical-align: top;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.review-room-link {
	color: #6b6b6b;
	display: flex;
	text-decoration: underline;
}
.review-icon {
	align-items: flex-start;
	margin-right: 16px;
	display: flex;
}
.review-text {
	color: #6b6b6b;
	display: inline-block;
	width: 100%;
	margin: 0;
	align-items: center;
}
.reviewlist-right {
	padding-top: 24px;
	flex-basis: 75%;
	width: 75%;
	max-width: 75%;
}
.review-row {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.review-date {
	color: #6b6b6b;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-bottom: 4px;
}
.review-grid {
	margin: -24px -12px 0;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	list-style-type: none;
}
.grid-left {
	padding: 24px 12px 0;
	flex-basis: 83.33333%;
	width: 83.33333%;
	max-width: 83.33333%;
}
.reviewlist-title {
	direction: ltr;
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	color: #000;
}
.grid-right {
	padding: 24px 0;
	flex-basis: 16.66667%;
	width: 16.66667%;
	max-width: 16.66667%;
}
.reviewlist-score {
	position: relative;
	bottom: 16px;
	align-items: center;
	display: inline-flex;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	float: right;
}
.reviewlist-score-text {
	background: #003580;
	color: #fff!important;
	display: flex;
	justify-content: center;
	vertical-align: baseline;
	border-radius: 5.81818px 5.81818px 5.81818px 0;
	height: 32px;
	width: 32px;
	min-width: 32px;
	align-items: center;
}
.review-text-inner {
	display: flex;
	align-content: center;
	direction: ltr;
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #333;
	padding-bottom: 16px;
}
.review-body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #333;
	direction: ltr;
	text-align: left;
	white-space: pre-line;
	word-break: break-word;
}
.review-list-score {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	float: left;
	position: relative;
	text-align: left;
	overflow: hidden;
}
.review-header-score {
	text-align: left;
	padding-bottom: 16px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 24px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.write-review {
	float: right;
	margin-bottom: 16px;
	width: 90px;
	text-align: center;
	background-color: #fff;
	color: #0071c2;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	cursor: pointer;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: middle;
	position: relative;
	min-height: 36px;
	min-width: 36px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	border-radius: 2px;
	border: 1px solid #0071c2;
}
.write-review:hover {
	background-color: #D7E8FA;
}
.review-total {
	font-size: 20px;
	line-height: 1;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
}
.review-score-badge {
	font-size: 20px;
	border-radius: 8px 8px 8px 0;
	width: 40px;
	margin: 0 4px 0 0;
	vertical-align: middle;
	background: #003580;
	color: #fff;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	font-weight: normal;
	box-shadow: none;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	position: relative;
	line-height: 2;
	text-decoration: none;
}
.review-score-widget {
	font-size: 20px;
	line-height: 1;
	display: inline-grid;
	vertical-align: middle;
}
.review-score-widget-text {
	font-weight: 600;
	font-size: 20px;
	color: #333;
	text-align: left;
	line-height: 1.2;
	text-decoration: none;
	padding-bottom: 2px;
}
.review-score-widget {
	font-size: 13px;
	color: #666;
	text-align: left;
	font-weight: normal;
	text-decoration: none;
}
.review-score-detail {
	border-bottom: 1px solid #e6e6e6;
}
.review-score-header {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	display: inline-block;
	margin-bottom: 16px;
	text-align: left;
}
.review-score-container {
	width: calc(100% + 32px);
	margin-bottom: 14px;
}
.review-subscore {
	display: inline-block;
	margin-right: 24px;
	margin-bottom: 24px;
	width: calc((100% - 100px)/3);
	vertical-align: top;
	margin-top: 0;
}
.scorebar-title {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.scorebar-score {
	color: #6b6b6b;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	text-align: right;
	float: right;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
}
.scorebar-bar {
	background-color: #ebf3ff;
	display: block;
	height: 10px;
	position: relative;
	overflow: hidden;
	margin-top: 3px;
	border-radius: 2px;
}
.scorebar-value {
	background-color: #003580;
	height: 100%;
	display: block;
	border-radius: 2px;
}

/* 리뷰 없을 때 */
.review-empty-container {
   margin: 30px 0;
}
.review-empty-box {
   padding-right: 20px;
   border: 1px solid #ddd;
   margin-bottom: 2em;
   padding: 10px 20px;
}
.review-empty-box h3 {
   color: #333;
   margin: 8px 0 16px;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
}
.review-empty-box p {
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   margin: 0 0 1em 0;
}
.empty-write-review {
   margin-bottom: 16px;
   width: 90px;
   text-align: center;
   background-color: #fff;
   color: #0071c2;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 8px 16px;
   cursor: pointer;
   text-decoration: none;
   box-sizing: border-box;
   vertical-align: middle;
   position: relative;
   min-height: 36px;
   min-width: 36px;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   border-radius: 2px;
   border: 1px solid #0071c2;
}
.empty-write-review:hover {
   background-color: #D7E8FA;
}

/* board */
.board-list {
	opacity: 1;
	display: none;
	background: rgba(0,0,0,0.2);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 0;
}
.board-list-panel {
	width: 600px;
	box-shadow: 0 0 14px #444;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 0 0 50px rgb(0 0 0 / 20%);
}
.board-list-panel-close {
	right: 587px;
	top: 40px;
	position: fixed;
	padding: 15px 30px 15px 10px;
	background: #0071c2;
	width: 20px;
	border-radius: 5px 0 0 5px;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	box-shadow: 0 0 14px #444;
	z-index: -1;
	animation-delay: .3s;
}
.board-list-panel-close:hover {
	background: #003580;
}
.board-close {
	cursor: pointer;
	text-align: center;
}
.board-list-panel-content {
	background: #fff; 
	padding: 15px 25px 0 25px;
	z-index: 100;
	right: 0;
	min-height: 100%;
	overflow: visible;
}

/* question */
.question2{
    position: relative;
}
.question-third2{
    display: block;
}
.question-third-left2 div:first-child{
    width: 33.3333%;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 20px
}
.question-third-left2 div:last-child button{
    margin-top: 20px;
    width: 100%;
}
.question-third-left2 p{
    margin-bottom: 10px;
}
.question-third-left2{
    width: 30%;
}
.question-third-right2{
    width: 100%;
}
.question-third-right-row2 {
    width: 33.3333%;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 20px
}
.question-third-right2 div{
    margin-bottom: 20px;
}
.question-third-right2 div:last-child{
    margin-bottom: 0;
}
.question-more2{
	font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}
.icon-text2{
    display: flex;
}
.question2 h2{
    margin-bottom: 15px;
}
.question2 > p{
    margin-bottom: 20px;
}
.question-third-left2 p:last-child{
    margin-top: 20px;
    text-align: center;
}
#question-button2{
    color: #fff;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}
#question-booking2{
    right: 18%;
}