<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <!-- user -->
      <typeAlias type="com.booqueen.user.member.MemberVO" alias="userMemberVO"/>
      <typeAlias type="com.booqueen.user.review.vo.ReviewVO" alias="reviewVO"/>
      <typeAlias type="com.booqueen.user.review.vo.ReviewAvgVO" alias="reviewAvgVO"/>
      <typeAlias type="com.booqueen.user.wishlist.vo.WishlistVO" alias="wishlistVO"/>
      <typeAlias type="com.booqueen.user.member.vo.MemberProfileVO" alias="memberProfileVO"/>
      <typeAlias type="com.booqueen.user.review.vo.ReviewProfileVO" alias="reviewProfileVO"/>
      <typeAlias type="com.booqueen.user.room.vo.RoomVO" alias="roomVO"/>
      <typeAlias type="com.booqueen.user.room.vo.RoomFacilitiesVO" alias="roomFacilitiesVO"/>
      <typeAlias type="com.booqueen.user.chat.vo.ChatVO" alias="chatVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.HotelAvailableVO" alias="hotelAvailableVO"/>
      <typeAlias type="com.booqueen.user.reservation.vo.ReservationVO" alias="uReservationVO"/>
      <typeAlias type="com.booqueen.user.payment.vo.PaymentVO" alias="paymentVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.CityVO" alias="cityVO"/>
      <typeAlias type="com.booqueen.user.email.vo.EmailVO" alias="emailVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.RecentSearchVO" alias="recentSearchVO"/>
      <typeAlias type="com.booqueen.user.room.vo.RoomAvailableVO" alias="roomAvailableVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.CityCountVO" alias="cityCountVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.BestHotelVO" alias="bestHotelVO"/>
      
      <!-- shared -->
      <typeAlias type="com.booqueen.user.hotel.vo.HotelVO" alias="hotelVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.HotelImgVO" alias="hotelImgVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.HotelServiceVO" alias="hotelServiceVO"/>
      <typeAlias type="com.booqueen.user.hotel.vo.HotelMapVO" alias="hotelMapVO"/>
      <typeAlias type="com.booqueen.user.board.vo.BoardVO" alias="boardVO"/>
      <typeAlias type="com.booqueen.user.member.vo.ReasonVO" alias="reasonVO"/>
      
      <!-- partner -->
      <typeAlias type="com.booqueen.partner.member.MemberVO" alias="myMember"/>
      <typeAlias type="com.booqueen.partner.hotel.HotelVO" alias="myHotel"/>
      <typeAlias type="com.booqueen.partner.hotel.HotelServiceVO" alias="myService"/>
      <typeAlias type="com.booqueen.partner.hotel.HotelImageVO" alias="images"/>
      <typeAlias type="com.booqueen.partner.hotel.HotelPolicyVO" alias="policy"/>
      <typeAlias type="com.booqueen.partner.hotel.HotelPaymentVO" alias="payment"/>   
      <typeAlias type="com.booqueen.partner.room.RoomVO" alias="myRoom"/>
      <typeAlias type="com.booqueen.partner.room.FacilitiesBasicVO" alias="facilitiesBasic"/>
      <typeAlias type="com.booqueen.partner.room.FacilitiesBathVO" alias="facilitiesBath"/>
      <typeAlias type="com.booqueen.partner.room.FacilitiesMediaVO" alias="facilitiesMedia"/>
      <typeAlias type="com.booqueen.partner.room.FacilitiesFoodVO" alias="facilitiesFood"/>
      <typeAlias type="com.booqueen.partner.room.FacilitiesServiceVO" alias="facilitiesService"/>
      <typeAlias type="com.booqueen.partner.room.FacilitiesViewVO" alias="facilitiesView"/>
      <typeAlias type="com.booqueen.partner.room.FacilitiesAccessVO" alias="facilitiesAccess"/>
      <typeAlias type="com.booqueen.partner.room.RoomAvailableVO" alias="roomAvailable"/>
      <typeAlias type="com.booqueen.partner.review.ReviewAvgVO" alias="myReviewAvg"/>
      <typeAlias type="com.booqueen.partner.message.InquiryVO" alias="inquiry"/>
      <typeAlias type="com.booqueen.partner.reservation.ReservationVO" alias="pReservation"/>
      <typeAlias type="com.booqueen.partner.reservation.ReservationDetailVO" alias="details"/>
      <typeAlias type="com.booqueen.partner.reservation.SearchVO" alias="search"/>
      <typeAlias type="com.booqueen.partner.room.UpdateImageVO" alias="roomImage"/>
      <typeAlias type="com.booqueen.partner.finance.InvoiceVO" alias="invoice"/>
      <typeAlias type="com.booqueen.partner.analysis.AnalysisVO" alias="analysis"/>
    
      <!-- admin -->
      <typeAlias type="com.booqueen.admin.member.MemberVO" alias="adminMember"/>
      <typeAlias type="com.booqueen.admin.hotel.HotelVO" alias="adminHotel"/>
      <typeAlias type="com.booqueen.admin.partner.PartnerVO" alias="partnerMember"/>
      <typeAlias type="com.booqueen.admin.terms.TermsVO" alias="terms"/>
      <typeAlias type="com.booqueen.admin.banner.BannerVO" alias="banner"/>
      <typeAlias type="com.booqueen.admin.member.UserAgeGroupVO" alias="userAgeGroupVO"/>
      <typeAlias type="com.booqueen.admin.member.UserVO" alias="userVO"/>
      <typeAlias type="com.booqueen.admin.faq.FaqVO" alias="faq"/>
      <typeAlias type="com.booqueen.admin.payment.PaymentStatusVO" alias="paymentStatusVO"/>
            
      <!--<typeAlias type="com.booqueen.admin.partner.BlockPartnerVO" alias="blockPartner"/>-->
      <typeAlias type="com.booqueen.admin.hotel.ReservationVO" alias="aReservation"/>
      <typeAlias type="com.booqueen.admin.hotel.HotelDetailVO" alias="hotelDetail"/>
      <typeAlias type="com.booqueen.admin.hotel.RoomDetailVO" alias="roomDetails"/>
   </typeAliases>
   <mappers>
      <mapper resource="mappings/user/member-mapping.xml"/>
       <mapper resource="mappings/user/profile-mapping.xml"/>
       <mapper resource="mappings/user/hotel-mapping.xml"/>
       <mapper resource="mappings/user/review-mapping.xml"/>
       <mapper resource="mappings/user/wishlist-mapping.xml"/>
       <mapper resource="mappings/user/room-mapping.xml"/>
       <mapper resource="mappings/user/chat-mapping.xml"/>
       <mapper resource="mappings/user/board-mapping.xml"/>
       <mapper resource="mappings/user/reservation-mapping.xml"/>
       <mapper resource="mappings/user/reason-mapping.xml"/>
       <mapper resource="mappings/user/payment-mapping.xml"/>
       <mapper resource="mappings/partner/member-mapping.xml"/>
       <mapper resource="mappings/partner/hotel-mapping.xml"/>
       <mapper resource="mappings/partner/room-mapping.xml"/>
       <mapper resource="mappings/partner/review-mapping.xml"/>
       <mapper resource="mappings/partner/reservation-mapping.xml"/>
       <mapper resource="mappings/admin/member-mapping.xml"/>
       <mapper resource="mappings/admin/hotel-mapping.xml"/>
       <mapper resource="mappings/admin/partner-mapping.xml"/>
       <mapper resource="mappings/admin/terms-mapping.xml"/>
       <mapper resource="mappings/admin/banner-mapping.xml"/>
       <mapper resource="mappings/partner/message-mapping.xml"/>
       <mapper resource="mappings/user/recentsearch-mapping.xml"/>
       <mapper resource="mappings/user/email-mapping.xml"/>
       <mapper resource="mappings/partner/analysis-mapping.xml"/>
       <mapper resource="mappings/admin/room-mapping.xml"/>
       <mapper resource="mappings/admin/agegroup-mapping.xml"/>
       <mapper resource="mappings/admin/user-mapping.xml"/>
       <mapper resource="mappings/admin/paymentstatus-mapping.xml"/>
   </mappers>
</configuration>