<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.booqueen.user.member.MemberVO" alias="vo"/>
		<typeAlias type="com.booqueen.partner.member.MemberVO" alias="myMember"/>
		<typeAlias type="com.booqueen.partner.hotel.HotelVO" alias="myHotel"/>
		<typeAlias type="com.booqueen.partner.hotel.HotelServiceVO" alias="myService"/>
		<typeAlias type="com.booqueen.partner.hotel.HotelImageVO" alias="images"/>
		<typeAlias type="com.booqueen.partner.hotel.HotelPolicyVO" alias="policy"/>
		<typeAlias type="com.booqueen.partner.hotel.HotelPaymentVO" alias="payment"/>	
		<typeAlias type="com.booqueen.partner.room.RoomVO" alias="myRoom"/>
		<typeAlias type="com.booqueen.partner.room.FacilitiesBasicVO" alias="facilitiesBasic"/>
		<typeAlias type="com.booqueen.partner.room.FacilitiesBathVO" alias="facilitiesBath"/>
		<typeAlias type="com.booqueen.partner.room.FacilitiesMediaVO" alias="facilitiesMedia"/>
		<typeAlias type="com.booqueen.partner.room.FacilitiesFoodVO" alias="facilitiesFood"/>
		<typeAlias type="com.booqueen.partner.room.FacilitiesServiceVO" alias="facilitiesService"/>
		<typeAlias type="com.booqueen.partner.room.FacilitiesViewVO" alias="facilitiesView"/>
		<typeAlias type="com.booqueen.partner.room.FacilitiesAccessVO" alias="facilitiesAccess"/>		
	</typeAliases>
  <mappers>
    <mapper resource="mappings/user/member-mapping.xml"/>
    <mapper resource="mappings/partner/member-mapping.xml"/>
    <mapper resource="mappings/partner/hotel-mapping.xml"/>
    <mapper resource="mappings/partner/room-mapping.xml"/>
  </mappers>
</configuration>