@charset "UTF-8";
/*#chart{
	max-width: 650px;
	margin: 35px auto;
}
---------------------------------------------------------------*/
#chart{
	margin: 65px;
	width: 35%;
	margin-top: 100px;
}
.middle{
	display: flex;
	height: 670px;
}
.table{
	width: 40%;
	margin-left: 200px;
	margin-top: 55px;
	margin-bottom: auto;
	border: 1px solid #e0e0e0;
	border-collapse : collapse;
	background-color: white;
}
.table tr{
	height: 80px;
	font-size: medium;
}
.table tr td{
	border-bottom: 1px solid #e0e0e0;
	font-weight: bold;
}
#tr1{
	background-color: #c7c6c6;
	border: 1px solid;
	column-span: all;

}
#tr1 td{
	width: 800px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-bottom: 1px solid #e0e0e0;
}
.table select{
	border: none;
	color: #0071c2;
	cursor: pointer;
}
.table select option {
	color: black;
	width: 100%;
}
#td1{
	text-align: right;
	padding-right: 20px;
}
.table tr td input{
	padding: 10px;
	background-color: #07c;
	color: white;
	border: none;
	border-radius: 8%;
	cursor: pointer;
}
#last_tr td{
	border-bottom: 1px solid white;
}