@charset "UTF-8";

* {
    margin:0;   /* 마진 리셋 */
    padding:0;   /* 패딩 리셋 */
    box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 

}
body{
    background-color: #f7f7f7;
}
.container{
    background-color:#003580;
    width: 1920px;
    height: 100px;
}
.container header{
    display: inline;
    height: 150px;
}
.container span a img{
    display: inline-block;
    width: 150px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: -30px;
}
.container nav{
    text-align: right;
    margin-left: 500px;
}
.container nav li{
    display: inline;
    margin-right: 100px;
    margin-bottom: 120px;
}
.container nav ul li a{
    color: #fff;
    text-decoration: none;
}
.contents{
    margin-left: 400px;
    width: 1000pt;
}
#continue{
    width: 780px;
    height: 35pt;
    margin-bottom: 30px;
    background-color: #0071c2;
    border: none;
    color: white;
    font-size: 12pt;
}
.option{
    display: flex;
    margin-top: 30px;
}
.basic{
    border-bottom: 5px solid #0071c2;
    width: 150px;
    text-align: center;
    height: 40px;
}
.price{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.service{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.fac{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.pic{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.policy{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.payment{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.contents h2{
    margin-bottom: 10px;
}
.input{
    margin-top: 30px;
    width: 1080px;
    display: flex;
    /*box-shadow: 0px 0px 0px 2px #0071c2;*/
}
.name{
    background-color: white;
    width: 950px;
    padding-left: 20px;
    border:none;
}
.name p{
    margin-top: 10px;
    font-size: large;
}
.name input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.name-1 span{
    font-size: small;
    color: rgba(0, 0, 0, 0.541);
}
.star{
    margin-top: 10px;
    margin-bottom: 20px;
}
.star select{
    width:200px;
    height: 30px;
    margin-top: 10px;
}
.right{
    margin-left: 20px;
    width: 340px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.048);
    display: inline-block;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.right p{
    font-size: small;
}
.contact{
    background-color: white;
    width: 778px;
    padding-left: 20px;
    border:none;
    margin-top: 20px;
}
.contact p{
    margin-top: 10px;
    font-size: large;
    margin-bottom: 10px;
}
.contact input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#num{
    width: 200px;
}
#name{
    font-size: small;
}
.contact-2-1{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loc{
    margin-bottom: 30px;
}
.location-1{
    display: flex;
}
.location{
    background-color: white;
    width: 778px;
    padding-left: 20px;
    border:none;
    margin-top: 20px;
}
.location input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.location-2 p{
    margin-top: 10px;
    font-size: large;
}
.location-2 div{
    width: 300px;
}
.location-1-1{
    margin-top: 70px;
    margin-left: 30px;
    width: 400px;
    height: 150px;
    padding: 20px;
    display: flex;
    border: rgba(0, 0, 0, 0.123) 1px solid;
}
.location-1-1 img{
    width: 80px;
    margin-top: 10px;
    margin-right: 10px;
}
.location-1-1 p{
    margin-bottom: 5px;
}
.location-1-1 span{
    font-size: small;
}
.option a{
    user-select: none;
    text-decoration-line:none;
    text-decoration: none;
    color: black;
}
.option a:hover{
    color: #0071c2;
}
.option a:visited{
    text-decoration: none;
}
.option a label{
    cursor: pointer;
}