@charset "UTF-8";

* {
    margin:0;   /* 마진 리셋 */
    padding:0;   /* 패딩 리셋 */
    box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 

}
body{
    background-color: #f7f7f7;
}
.container{
    background-color:#003580;
    width: 1920px;
    height: 100px;
}
.container header{
    display: inline;
    height: 150px;
}
.container span a img{
    display: inline-block;
    width: 150px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: -30px;
}
.container nav{
    text-align: right;
    margin-left: 500px;
}
.container nav li{
    display: inline;
    margin-right: 100px;
    margin-bottom: 120px;
}
.container nav ul li a{
    color: #fff;
    text-decoration: none;
}
.contents{
    margin-left: 400px;
    width: 1000pt;
}
#continue{
    width: 780px;
    height: 35pt;
    margin-bottom: 30px;
    background-color: #0071c2;
    border: none;
    color: white;
    font-size: 12pt;
}
#name{
    margin-top: 10px;
    padding-bottom: -10px;
    font-size: small;
}
.option{
    display: flex;
    margin-top: 30px;
}
.basic{
    background-color: rgba(255, 255, 255, 0.055);
    border-bottom: 5px solid #0071c2;
    width: 150px;
    text-align: center;
    height: 40px;
}
.basic img{
    width: 15px;
}
.price{
    border-bottom: 5px solid #0071c2;
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.price img{
    width: 15px;
}
.service{
    border-bottom: 5px solid #0071c2;
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.service img{
    width: 15px;
}
.fac{
    border-bottom: 5px solid #0071c2;
    width: 150px;
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.pic{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.policy{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.payment{
    border-bottom: 5px solid rgba(0, 0, 0, 0.37);
    width: 150px;
    text-align: center;
    height: 40px;
    margin-left: 5px;
}
.input{
    margin-top: 30px;
    width: 1080px;
    display: flex;

}
.right{
    margin-left: 20px;
    width: 340px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.048);
    display: inline-block;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.right p{
    font-size: small;
}
.facility{
    background-color: white;
    width: 950px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: none;
}
#checkbox{
    margin-top: 30px;
}
.faci{
    border: 1px solid #e6e6e6;
    margin-top: 20px;
    margin-left: 5px;
    width: 725px;
    padding: 20px;
}
.roomfac{
    background-color: white;
    width: 740px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border: #e6e6e6 1px solid;
}
.inner{
    margin-bottom: 0px;
}
.inner-check{
    background-color: rgba(0, 0, 0, 0.050);
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: -20px;
    display: none;
}
.inner-check div hr{
    opacity: 40%;
    margin-top:8px;
}
.inner-check div{
    margin-top: 10px;
    margin-left: -20px;
}
.outer{
    background-color: white;
    width: 780px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: none;
}
.inner-1{
    margin-bottom: 0px;
}
.inner-1-check{
    background-color: rgba(0, 0, 0, 0.050);
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: -20px;
    display: none;
}
.inner-1-check div hr{
    opacity: 40%;
    margin-top:8px;
    margin-left: -20px;
}
.inner-1-check div{
    margin-top: 10px;
}
.roomfac-1{
    background-color: white;
    width: 740px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border: #e6e6e6 1px solid;
}
.inner-2{
    margin-bottom: 0px;
}
.inner-2-check{
    background-color: rgba(0, 0, 0, 0.050);
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: -20px;
    display: none;
}
.inner-2-check div hr{
    opacity: 40%;
    margin-top:8px;
    margin-left: -20px;
}
.inner-2-check div{
    margin-top: 10px;
}
.roomfac-2{
    background-color: white;
    width: 740px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border: #e6e6e6 1px solid;
}
.inner-3{
    margin-bottom: 0px;
}
.inner-3-check{
    background-color: rgba(0, 0, 0, 0.050);
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: -20px;
    display: none;
}
.inner-3-check div hr{
    opacity: 40%;
    margin-top:8px;
    margin-left: -20px;
}
.inner-3-check div{
    margin-top: 10px;
}
.roomfac-3{
    background-color: white;
    width: 740px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border: #e6e6e6 1px solid;
}
.inner-4{
    margin-bottom: 0px;
}
.inner-4-check{
    background-color: rgba(0, 0, 0, 0.050);
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: -20px;
    display:none;
}
.inner-4-check div hr{
    opacity: 40%;
    margin-top:8px;
    margin-left: -20px;
}
.inner-4-check div{
    margin-top: 10px;
}
.roomfac-4{
    background-color: white;
    width: 740px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border: #e6e6e6 1px solid;
}
.inner-5{
    margin-bottom: 0px;
}
.inner-5-check{
    background-color: rgba(0, 0, 0, 0.050);
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: -20px;
    display: none;
}
.inner-5-check div hr{
    opacity: 40%;
    margin-top:8px;
    margin-left: -20px;
}
.inner-5-check div{
    margin-top: 10px;
}
.roomfac-5{
    background-color: white;
    width: 740px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border: #e6e6e6 1px solid;
}
.inner-6{
    margin-bottom: 0px;
}
.inner-6-check{
    background-color: rgba(0, 0, 0, 0.050);
    padding-left: 20px;
    margin-left: -20px;
    margin-bottom: -20px;
    display: none;
}
.inner-6-check div hr{
    opacity: 40%;
    margin-top:8px;
    margin-left: -20px;
}
.inner-6-check div{
    margin-top: 10px;
}
.roomfac-6{
    background-color: white;
    width: 740px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border: #e6e6e6 1px solid;
}
#endcheckbox{
    margin-top: 0px;
    padding-bottom: 10px;
}
.option a{
    user-select: none;
    text-decoration-line:none;
    text-decoration: none;
    color: black;
}
.option a:hover{
    color: #0071c2;
}
.option a:visited{
    text-decoration: none;
}
.option a label{
    cursor: pointer;
}