@charset "UTF-8";
.main{
    min-height: calc(100vh - 277px);
}
.bui-container--center{
    margin: 0 auto;
    max-width: 1140px;
}
.bui-container{
    position: relative;
    width: 100%;
    padding: 16px;
}
.bui-container--header{
    position: relative;
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: sapce-between;
    -webkit-box-align: center;
    align-items: center;
}
.bui-page-header__title, .bui-page-header__title[class^=bui-]{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0 16px 8px 0;
    display: inline-block;
}
.bui-page-header__description{
    width: 100%;
    margin-top: 0;
}
.bui-empty-state{
    max-width: 384px;
    text-align: center;
    margin: 0 auto;
}
.bui-empty-state__text:last-child{
    margin-bottom: 0;
}
.bui-empty-state__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin: 24px 0;
}
.bui-empty-state__icon{
    display: block;
    margin: 0 auto;
    fill: #383838;
    width: 48px;
    height: 48px;
    opacity: .6;
}
.bui-state{
    max-width: 100%;
    /* text-align: center; */
    margin: 2px;
    border: 1px solid #ececec;
    padding: 10px;
}
.hp-review_score_entry{
    margin-top: 24px;
    padding-right: 570px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
}
.hp-review-score-cta-container-remote{
    display: inline-flex;
}
.review-score-component{
    margin-right: -8px;
    margin-top: -8px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
}
.review-data{
    align-items: center;
    background: #003580;
    border-radius: 5.8181818182px 5.8181818182px 5.8181818182px 0;
    color: #fff;
    display: flex;
    height: 60px;
    justify-content: center;
    min-width: 50px;
    vertical-align: baseline;
    width: 88px;
    font-weight: 700;
    font-size: 25px;
    margin-right: 10px;
}
.review-data__text{
    margin-right: 8px;
    margin-top: 8px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}
.review-data__description{
    font-style: normal! important;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.review-data__count{
    font-style: normal! important;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.bui-f-font-heading{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.hp_subscore_explanation_inline{
    display: inline-block;
}
.bui-spacer--large{
    margin-bottom: 16px! important;
}
.hp_subsocre_explanation_container{
    width: 100%;
    border-bottom: none! important;
}
.review_list_score_container{
    position: relative;
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
}
/* review-itemized score*/
.itemized-score{
    display: grid;
    grid-template-areas: '. . .';
    grid-gap: 30px;
}
.itemized-score-text{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.c-score-bar__value{
    background-color: #003580;
    color: #003580;
    display: inline-block;
    border-radius: 2px;
    height: 10px;
}
.c-score-bar{
    background-color: #ebf3ff;
    display: inline-block;
    width: 100%;
    height: 10px;
    border-radius: 2px;
}
.inner-text{
    color: #fff;
}
.itemized-score-detail{
    display: flex;
}
/* table */
.review_table{
    display: table;
    border: solid #e0e0e0;
    border-width: 1px 1px 0;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}
.table_head{
    display: table-row-group;
    box-sizing: border-box;
    vertical-align: middle;
    border-color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    border-collapse: separate;
    border-spacing: 0;
}
.table_row{
    background-color: #fff;
    display: table-row;
    border: none;
    margin: 0;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}
.table_cell{
    padding: 16px 12px;
    border-left: none;
    border-right: none;
    position: sticky;
    top: -1px;
    background-color: inherit! important;
    z-index: 1;
    text-align: left;    
}
.column_sort{
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    line-height: normal;
    display: flex;
    align-items: center;
    width: 100%;
}
.table_body{
    display: table-row-group;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    box-sizing: border-box;
    vertical-align: middle;
    border-color: inherit;
}
.table_cell_head{
    padding: 16px 12px;
    border-left: none;
    border-right: none;
    display: table-cell;
    vertical-align: top;
    border-bottom: 1px slid #e0e0e0;
    text-align: left;    
}
.table_pagination{
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ededed;
	padding: 8px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
}
.pagination_control{
	display: flex;
	align-items: center;
}
.pagination_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination_item{
    display: inline-flex;
}
.pagination_prev{
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.pagination_next{
    margin-left: 16px;
}
.pagination_disabled{
    border-color: transparent;
    background-color: transparent;
    fill: #07c;
    color: #07c;
    cursor: not-allowed;
    outline: none;
    box-shadow: none;
    opacity: .4;
}
.pagination{
    border-color: transparent;
    background-color: transparent;
    fill: #07c;
    color: #07c;
    outline: none;
    box-shadow: none;
}
.pagination_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 2px 4px;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 400;
}
.pagination_current_page{
    display: inline-flex;
    padding: 0 24px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.pagination_icon{
    width: 18px;
    height: 100%;
    fill: currentColor;
}
.pagination_direction{
    margin: 0 4px;
}
.pagination_direction:last_child{
    margin-right: 0;
}
.pagination_control{
    display: flex;
    align-items: center;
}
