@charset "UTF-8";
.main {
	margin-left: 400px;
	margin-top: 30px;
	width: 60%;
}

.body {
	background-color: white;
}

.gallery {
	padding: 20px;
	padding-top: 30px;
	margin-bottom: 30px;
	margin-top:30px;
}

.upload__box {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
}

.upload__box input {
	display: none;
}

.upload__box label {
	width: 75px;
	height: 40px;
}

.upload__box label span {
	text-align: center;
	padding: 8px 0px;
	display: block;
	cursor: pointer;
}

.upload__box label input {
	position: absolute;
	top: -20px;
}

.upload__box input+span {
	display: block;
	width: 255px;
	height: 40px;
	background-color: #07c;
	color: white;
	border: none;
}

.bottom {
	margin-top: 30px;
}

#continue {
	margin-left: 1050px;
	margin-top: 20px;
	padding: 10px;
	background-color: #07c;
	border: none;
	color: white;
	font-size: 12pt;
	cursor: pointer;
}

.upload__inputfile {
	width: .1px;
	height: .1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload__img-wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
}

#image {
	cursor: pointer;
	display: none;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
}

.upload__img-box {
	width: 200px;
	padding: 0 10px;
	margin-bottom: 12px;
}

.upload__img-close {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	line-height: 24px;
	z-index: 1;
	cursor: pointer;
}

.upload__img-close:after {
	content: '\2716';
	font-size: 14px;
	color: white;
}

.img-bg {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   padding-bottom: 100%;
}
.upload__btn-box{
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	padding-top:10px;
	padding-bottom:10px;
}
.uploaded_img{
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	margin-top: 160px;
	padding-top:20px;
	padding-bottom:20px;
}
#popup{
	display:flex;
	flex-flow:wrap;
	margin-bottom:5px;
}
.uploaded_img img {
	width: 180px;
	height: 180px;
}
.modal{
  background-color: white;
  border-radius: 10px;
  width: 50%;
  margin-left: 400px;
  margin-top: 50px;
}
.modal-wrapper{
  position: absolute;
  top: 0px;
  left: 0;
  border: 1px solid;
  padding: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(0,0,0,0.6) ;
  display: none;
  width: 100%;
  z-index:100;
}
.row-1 p{
  padding-top: 10px;
}
.close {
  margin-left: 850px;
  margin-top: 50px;
}
.close input{
  width:60px;
  height: 40px;
  margin-bottom: 20px;
  color: white;
  background-color: #0071c2;
  border: none;
  border-radius: 5px;
  cursor:pointer;
}
.explain{
  padding: 20px;
}
.change-pic{
  background-color: #fffaeb;
  border-color: #ffd257;
  padding-bottom: 20px;
  padding-top:10px;
}
.change-pic-1{
  display: flex;
  padding-left: 20px;
  margin-bottom: 20px;
}
.change-pic-1 svg{
  width: 30px;
  margin-right: 20px;
  fill: #e2aa11;
}
.explain p{
  margin-left: 70px;
}
.modal-bottom{
  display: flex;
}
.modal_pic{
  width: 40%;
  margin-left: 170px;
}
.modal_pic img{
  width: 600px;
  height: 680px;
  margin-top:10px;
}
#delete{
	margin-top: 40px;
	margin-left: 250px;
	background-color: red;
	border: none;
	cursor: pointer;
	color: white;
	padding: 10px;
}
.pics{
    display: flex;
    height: 60px;
}
.pics select{
    margin-left: 300px;
    margin-top: 10px;
    height: 30px;
    text-align: center;
}